
@{
    ViewBag.Title = "CreateWorkshopsInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = (string)ViewBag.Message;
}

<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="breadcrumb">
            <li>
                <a href="/Home/Index"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
            </li>
            <li>
                <a href=""> مدیریت مالی </a> <span class="divider">&nbsp;</span>
            </li>
            <li><a href="#">صدور صورتحساب دستمزد</a><span class="divider-last">&nbsp;</span></li>

        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="widget" dir="rtl">
    <div class="widget-title">
        <h4><i class="icon-reorder"></i>صدور صورتحساب دستمزد به صورت دستی</h4>
        <span class="tools">
            <a href="javascript:;" class="icon-chevron-down"></a>
            <a href="javascript:;" class="icon-remove"></a>
        </span>        
    </div>
    <div class="widget-body">
        @using (Html.BeginForm())
        {
            <center>
                <strong class="text-success text-center"> @message </strong> <br />
            </center>
            <label>انتخاب کارگاه</label>
            @Html.DropDownList("WorkshopID", null, "همه", htmlAttributes: new { @class = "chosen", @id = "inputWarning" })@*, @multiple = "multiple" , @onchange="submit();"*@
            <br />
            <label>از تاریخ</label>
            <input type="text" class="pdate" id="pcal1" name="fromDate" required="required" value="@ViewBag.fromDate"/>
            <br />
            <label>تا تاریخ</label>
            <input type="text" class="pdate" id="pcal2" name="toDate" required="required" value="@ViewBag.toDate"/>
            <br />
            <hr />
            <input type="submit" value="صدور فاکتور" class="btn btn-success" style="font-family:Vazir;" />
        }
    </div>
</div>