<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>خطا در پردازش اطلاعات</title>
</head>
<body>
    <div class="row jumbotron" style="margin-top:200px;">
        <div class="col-md-3">
            <img class="img-circle" src="~/Content/Images/Error.png" />
        </div>
        <div class="col-md-9 text-center">
            <h2>با عرض پوزش در صفحه مورد درخواست شما خطایی رخ داده است</h2>
            <h4>لطفا برای سرعت در رفع خطا، از صفحه تصویری تهیه و به همراه یک پیام برای راهبر سیستم ارسال نمایید</h4>
        </div>
        
    </div>
</body>
</html>
